body{
    height: 6000px;
    width: 2000px;
    background: #444;
}
#btn{
    width: 20px;
    height: 20px;
    border: none;
    background: #fa0;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.hide{
    display: none;

}
h1{
    color: aliceblue;
    align-items: center;
}