.photos img{
    width: 200px;
    height: 200px;
    border: 5ps solid #aaa;
}

.photos img:hover{
    cursor: pointer;
    border:5px solid #080 ;
}

.main{
    width: 450px;
    height: 450px;
    border: 5px solid #aaa;
    display: flex;
    justify-content: center;
}